body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#container{
    margin: 0px auto;
    width: 85%; /*720px*/
    min-width: 820px;
}
header{
    line-height: 200px;
    background: #225992 url(../imagens/arquivos-necessarios-imagens-liquidas/cabecalho2.jpg) no-repeat center;
    text-align: center;
}
#conteudo1{
    text-align: center;
    background: #d1d1d1;
    float: left;
    width: 25%;
}
.floresta{
    width: 96%;
    padding: 2%;
}
#conteudo2{
    width: 73%;
    float: right;
}
#conteudoprincipal{
    width: 60%;
    float: left;
}
#conteudodireita{
    background: #d1d1d1;
    width: 36%;
    float: right;
}
footer{
    background: #d1d1d1;
    line-height: 30px;
    text-align: center;
    clear: both;
}
ul{
    list-style-type: none;
    padding: 0px;
}
ul li a{
    text-decoration: none;
    color: black;
}
h1, h2, p{
    padding-left: 20px;
}