body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
fieldset{
    padding: 1em;
    margin: 1em 0px;
    border: 1px solid #CCC;
    background: #f8f8f8;
}
legend{
    font-weight: bold;
}
label{
    display: block;
    cursor: pointer;
}
.caixamensagem input{
    width: 30%;
}
textarea{
    width: 30%;
    height: 7em;
}